{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for item in data %}
    <h1>Wyniki dla "{{item['name']}}"</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CHROM</th>
                <th scope="col">POS</th>
                <th scope="col">ID</th>
                <th scope="col">REF</th>
                <th scope="col">ALT</th>
                <th scope="col">QUAL</th>
                <th scope="col">FILTER</th>
                <th scope="col">INFO</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    {% for field in item['result'][0]%}
                    <th scope="col"> {{item['result'][0][field]}} </th>
                    {% endfor %}
                </tr>
        </tbody>
    </table>
    {% endfor %}
    <a href="/">Wróc</a><br>
{% endblock %}