{% extends 'layout.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
    <form action="/analysis/add" method="post" enctype="multipart/form-data">
        <input type="file" id="file" name="file" accept=".tsv, .vcf">
        <br>
        {% if algs %}
        <div id="algs-container">
            {% for alg in algs %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="{{ alg }}" id="flexCheckDefault{{ alg }}" name="alg">
                    <label class="form-check-label" for="flexCheckDefault{{ alg }}"">
                        {{alg}}
                    </label>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Brak dostępnych algorytmów</p>
        {% endif %}
        <button type="submit" onclick="validateForm()">Wyślij</button>
    </form>
    <script src="{{ url_for('static', filename='validate.js') }}"></script>
{% endblock %}
